<div class="container">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h4><b>View Department</b></h4>
          </div>
          <div class="col-sm-6">
            <a href="#" routerLink="/departments" class="btn btn-success back"><i class="fas fa-arrow-circle-left"></i> &nbsp;Back</a>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover table-bordered table-content">
        <tbody>
          <tr>
            <td>
              <label><b>Id</b></label>
            </td>
            <td>
              <span>{{ model.id }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <label><b>Name</b></label>
            </td>
            <td>
              <span>{{ model.name }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <label><b>ReadOnly</b></label>
            </td>
            <td>
              <span>{{ model.readOnly }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
